# Enable content negotiation
Options +MultiViews

DirectoryIndex	index

# Note:  Do not let MultiViews resolve ErrorDocument
# It will cause a 406 on top of other errors (like 404) if no types accepted
<If "%{HTTP_ACCEPT} =~ m#application/xhtml\+xml#i">
    ErrorDocument 400 /400.xhtml
    ErrorDocument 401 /401.xhtml
    ErrorDocument 403 /403.xhtml
    ErrorDocument 404 /404.xhtml
    ErrorDocument 500 /500.xhtml
</If>
<Else>
    ErrorDocument 400 /400.html
    ErrorDocument 401 /401.html
    ErrorDocument 403 /403.html
    ErrorDocument 404 /404.html
    ErrorDocument 500 /500.html
</Else>

# mod_auto_index options
HeaderName README-files.txt
IndexOptions +XHTML

# Set common security/compatibility headers
Header set X-Content-Type-Options: "nosniff"
Header set X-XSS-Protection: "1; mode=block"
Header set X-Frame-Options: "sameorigin"
Header set X-UA-Compatible: "IE=Edge"

# FollowSymLinks is required for rewriting
Options +FollowSymLinks

RewriteEngine On
RewriteBase /

# Note:  R without L in RewriteRules for single redirect to new URL with HTTPS
# Note:  QSA is not needed when replacement has no query string

# Rewrite old blog post URLs to their new locations
RewriteRule "^inquiry/sdlblitspeed/sdlblitspeed\.php$" "/bits/2007/08/01/sdl-blit-speed-comparison/" [DPI,R=permanent]
RewriteRule "^inquiry/sdlblitspeed/(.*)$" "/bits/2007/08/01/sdl-blit-speed-comparison/$1" [DPI,R=permanent]
RewriteRule "^inquiry(/.*)?$" "/bits$1" [DPI,R=permanent]

# Rewrite requests for php files to extensionless files, where absent
RewriteCond "%{REQUEST_FILENAME}" !-f
RewriteRule "^(.*)\.php$" "$1" [DPI,R]

# Use URL with trailing slash as canonical URL for index pages
RewriteRule "^(.*/)index$" "$1" [DPI,R]

# Ensure all access to kevinlocke.name is done over HTTPS without www.
# This is for canonicalization, SEO, and SSL (since SAN doesn't include www)
# https://blog.mozilla.org/security/2015/04/30/deprecating-non-secure-http/
# Note:  Other subdomains not included, since some should not be canonicalized
#        (e.g. ipv6.kevinlocke.name and ipv4.kevinlocke.name)

# First, handle absolute URLs in case rewriting has been done already
RewriteRule "^https?://(www\.)?kevinlocke.name(.*)$" "https://kevinlocke.name$2" [R=permanent,L]
RewriteRule "^(https?://.*)$" "$1" [L]

RewriteCond %{HTTP_HOST} =www.kevinlocke.name [NC]
RewriteRule ^/?(.*) "https://kevinlocke.name/$1" [R=permanent,L]

RewriteCond %{HTTP_HOST} =kevinlocke.name [NC]
RewriteCond %{HTTPS} !=on
RewriteRule ^/?(.*) "https://kevinlocke.name/$1" [R=permanent,L]

# Prevent access to .git directories
# Note:  L implied by F, so put after HTTPS redirect
RewriteRule "^(.*/)?\.git/" - [F]

# Set a cache expiration on 301 responses to prevent indefinite caching.
# (Since if we screw up a redirect, there would be no way to fix it.)
# FIXME:  Should set Expires, but can't find a way to conditionally set it
Header always set Cache-Control "max-age=86400" "expr=%{REQUEST_STATUS} == 301"

# Set STS header to require HTTPS for the next 6 months on kevinlocke.name
Header always set Strict-Transport-Security "max-age=15768000" "expr=tolower(%{HTTP_HOST}) == 'kevinlocke.name'"

# Prioritize XHTML slightly above HTML
# Recommended mechanism for MultiViews is to add a qs parameter to the type.
# However, qs values are sent to client in violation of RFCs
#AddType text/html;qs=0.999 .html
#AddType application/xhtml+xml;qs=1 .xhtml
AddCharset utf-8 .html
AddCharset utf-8 .xhtml
AddCharset utf-8 .atom

# Negotiate gzip encoding for pre-compressed files
AddEncoding gzip .gz

# Set the default Content-Language to English (since most pages are)
DefaultLanguage en

# Instead, we let MultiViews choose a type and if it is HTML we check whether
# XHTML is equally acceptable and send it instead
# Note: IS_SUBREQ is true when MultiViews has redirected
# FIXME: Is there a way to compare with the original URL here?
RewriteCond "%{IS_SUBREQ}" "=true"
RewriteCond "%{REQUEST_FILENAME}" "^(.*)\.html$"
RewriteCond "%1.xhtml" "-f"
RewriteCond "%{HTTP:Accept}" "application/xhtml\+xml\s*(?:,|$)"
RewriteRule "^(.*)\.html$" "/$1.xhtml" [ENV=NOW_XHTML]

# RewriteRule above does not change the Content-Location set by MultiViews
# So we change it manually after the internal redirect
# Note:  "REDIRECT_" prefix, see https://stackoverflow.com/questions/3050444
Header always edit "Content-Location" "\.html$" ".xhtml" env=REDIRECT_NOW_XHTML

<IfVersion < 2.4.4>
# Note:  Can't use / in FilterProvider regex in Apache < 2.2.21 use \x2F
# See https://issues.apache.org/bugzilla/show_bug.cgi?id=51434
# Gzip content which may benefit from the compression
FilterDeclare COMPRESS CONTENT_SET
# Compress any text content
FilterProvider COMPRESS DEFLATE resp=Content-Type /^text\x2F/
# Compress JavaScript
FilterProvider COMPRESS DEFLATE resp=Content-Type /^application\x2F(x-)?javascript/
# Compress any XML content
# Note:  This expression could be a lot tighter, but this is simple and works
FilterProvider COMPRESS DEFLATE resp=Content-Type /^[^;]+(\x2F|\+)xml\x20*(;|$)/
FilterChain COMPRESS
FilterProtocol COMPRESS DEFLATE change=yes,byteranges=no
</IfVersion>

<IfVersion >= 2.4.4>
# Gzip content which may benefit from the compression
FilterDeclare COMPRESS CONTENT_SET
# Compress any text content
FilterProvider COMPRESS DEFLATE "%{Content_Type} =~ m#^text/#i"
# Compress JavaScript
FilterProvider COMPRESS DEFLATE "%{Content_Type} =~ m#^application/(x-)?javascript#i"
# Compress any XML content
# Note:  This expression could be a lot tighter, but this is simple and works
FilterProvider COMPRESS DEFLATE "%{Content_Type} =~ m#^[^;]+(/|\+)xml *(;|$)#i"
FilterChain COMPRESS
FilterProtocol COMPRESS DEFLATE change=yes,byteranges=no
</IfVersion>
