/** Styling applied to all pages.
 */
body {
	font-family: sans-serif;
	padding: 0 5%;
}

a:link {
	text-decoration: underline;
}

a:visited {
	text-decoration: underline;
}

a:visited:hover {
	text-decoration: none;
}

a:link:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	line-height: 1em;
	margin: 0px;
	padding-bottom: 4px;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
	margin: 1em 0px 0px 0px;
}

h1 + h2, h2 + h3, h3 + h4, h4 + h5, h5 + h6 {
	margin-top: 0px;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	margin-top: 0px;
}

p + h1, p + h2, p + h3, p + h4, p + h5, p + h6,
ul + h1, ul + h2, ul + h3, ul + h4, ul + h5, ul + h6
ol + h1, ol + h2, ol + h3, ol + h4, ol + h5, ol + h6 {
	margin-top: 1em;
}

p {
	margin: 0.25em 0;
	text-indent: 4ex;
}

ol,ul {
	margin-top: 0px;
	margin-bottom: 0px;
}

hr {
	height: 1px;
	color: #AAAAAA;
	background-color: #AAAAAA;
	border-style: none;
	width: 90%;
}

img {
	border: 0px;
}

object {
	float: left;
}

.as-text {
	display: inline-block;
	float: none;
	/* Note:  height should be baseline to top (1em is bottom to top) */
	height: 0.75em;
	margin: 0;
	padding: 0;
	border-style: none;
}

.sitename {
	display: block;
	font-size: xx-large;
	font-weight: bold;
	text-align: center;
}

.footnotes {
	border-top: 1px solid #AAAAAA;
	margin-top: 2em;
	padding-top: 0.2em;
	font-size: small;
}

#container {
	max-width: 80ex;
	margin: 0 auto;
}

#footer {
	clear: both;
	width: 90%;
	margin: 2em 5% 0px 5%;
	border-top: 1px solid #aaaaaa;
	padding-top: 5px;
	text-align: center;
	font-size: small;
	opacity: 0.8;
}

#footer:focus-within,
#footer:hover {
	opacity: 1;
}

#footer img {
	margin: 0% 1% 0% 0%;
}

.highlight {
	border: thin solid gray;
	max-height: 15em;
	overflow: auto;
}

.highlight .highlight {
	border-style: none;
}

.highlight-git-host-footer {
	border: thin solid gray;
	border-top-style: none;
	padding: 0.5ex;
}

.highlight-git-file-raw {
	float: right;
}

.img-instruction-step {
	max-width: 100%;
        height: auto;
        display: block;
        float: none;
	margin-left: auto;
	margin-right: auto;
}

/* Override float: left on #content img */
#content img.img-instruction-step {
        float: none;
}

.nav {
	text-align: center;
}

.nav ul {
	display: inline-block;
	margin: 0.5em 0 1em 0;
	padding: 0;
	list-style: none;
	font-size: large;
	font-weight: bold;
	border: medium black;
	border-style: solid none;
}

.nav li {
	display: inline-block;
	margin: 0px;
}

.nav a {
	color: #286ea0;
	text-decoration: none;
	line-height: 1.5em;
	display: inline-block;
	padding: 0 1ex;
	/* border: thin solid #ffffff; */
}

.nav a:hover {
	background-color: #eeeeff;
	/* border-color: #286ea0; */
	text-decoration: none;
}

.nav a:visited {
	color: #7d1a8b;
}

.nav a:visited:hover {
	background-color: #f4e5f6;
	/* border-color: #7d1a8b; */
}

.subscribe h4 {
	display: inline;
}

.subscribe-links {
	display: inline;
	padding: 0;
}

.subscribe-links li {
	display: inline-block;
	list-style-type: none;
	margin: 0 0 0 1ex;
}

.subtitle {
	text-indent: 0;
}

.warning {
	background-color: #ffeeee;
	border: 2px dashed #ff5555;
	font-size: small;
	font-weight: bold;
	font-style: oblique;
	margin: 1em 10% 1em 10%;
	padding: 2px;
	text-align: center;
}

/* See http://positioniseverything.net/easyclearing.html */
.enclosefloat:after {
	content: ",";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#content img {
	float: left;
}

#content img.as-text {
	float: none;
}

.containclear {
	float: left;
}

.containclear h1,
.containclear h2,
.containclear h3,
.containclear h4 {
	clear: both;
}

table.contact {
	padding: 5px;
	margin: 5px;
}

/* Try to get desired reset semantics for ordered lists */
.counted-li {
	counter-reset: li-counter;
}
.counted-li-from-2 {
	counter-reset: li-counter 1;	/* First element is 2 from increment */
}
.counted-li li {
	list-style-type: none;		/* Disable default numbering */
}
.counted-li li:before {
	content: counter(li-counter) ". ";
        counter-increment: li-counter;
}
