body {
	background-color:#ffffff;
	font-family: "Bitstream Vera Sans","Arial","Helvetica",sans-serif;
}
.footer {
	display: none;
}
.container {
	position: fixed; top: 0px; width: 100%;
	background-color:#ffffff;
	border-style: none;
	padding-left: 125px;
	padding-top: 60px;
	padding-right: 20px;
}
.navigation {
	display: none;
}
.title {
	position: absolute; top: 5px; left: 10px; height: 50px;
	font-weight: 700;
	font-size: xx-large;
}
.section {
	border-width: 10px;
	border-color: #ff0000;
}

a {text-decoration: none;}
h1 {
	line-height: 1em;
	margin: 0px;
	padding: 1px; padding-left: 3px; 
	text-align: center;
}
h2 {
	line-height: 1em;
	margin: 0px;
	padding: 1px;
	padding-left: 3px; 
}
p {
	text-indent: 1.5em;
	margin: 0px;
}
img {
	border: 0px;
}

table.schedule {
	border-collapse: collapse;
	border: 1px solid #aaaaaa;
}
/* table.schedule tr {
	border: 1px solid #aaaaaa;
} */
td {
	border: 1px solid #aaaaaa;
}
td.day {
	text-align: center;
	font-weight: 700;
	text-decoration: underline;
}
td.class {
	text-align: center;
	background-color: #b7e1b6;
	border: 2px solid #000000;
}
td.class:first-line {
	font-weight: bold;
}

table.contact {
	padding: 5px;
	margin: 5px;
	vertical-align: top;
}
